// Enviroment
NODE_ENV=production

// port
PORT=3000

// API key
API_KEY=my_super_secret_key_123

// JWT Encryption
JWT_SECRET=

// Crypto encryption
ENCRYPTION_SECRET_KEY=

// DB Connection
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=

// Default admin
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=

//Sand Grid Credentials
SENDGRID_API_KEY=
SENDGRID_FROM=
OTP_TTL_SECONDS=300
